Repository brontosource/bronto: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mdformat, buildifier

clang-format:
  name: format c/c++
  language: system
  entry: clang-format -i

mdformat:
  name: format markdown
  language: system
  entry: mdformat --wrap=80

buildifier:
  name: format bazel
  language: system
  entry: buildifier

Update bronto/bronto.h
  bronto/bronto.h
Due: clang-format

Add a very basic CMakeLists.txt.
  .gitignore
  CMakeLists.txt
  bronto/CMakeLists.txt
  bronto/bronto_compilation_test_source.cc
  version.txt
Due: clang-format

Add cmake build directory to .gitignore
  .gitignore
Due: none

Add CMake configuration generally consistent with Project Beman's specifications.
  BUILD.bazel
  CMakeLists.txt
  MODULE.bazel
  README.md
  bronto/BUILD.bazel
  bronto/bronto_test.sh
  include/bronto/bronto.hpp
  src/bronto/CMakeLists.txt
  src/bronto/bronto.cpp
  tests/bronto/BUILD.bazel
  tests/bronto/CMakeLists.txt
  tests/bronto/compilation.test.cpp
Due: mdformat, buildifier

Fix table formatting.
  README.md
Due: mdformat

Add `BRONTO_BEFORE`, `BRONTO_AFTER` and `bronto::rewrite_expr` to the support library.
  include/bronto/bronto.hpp
Due: none

Update include/bronto/bronto.hpp
  include/bronto/bronto.hpp
Due: none

Bug fix: function-like macros can simply accept zero arguments for now rather than accepting variadics and forcing them to be empty.
  include/bronto/bronto.hpp
Due: none

use conditional standard-syntax attribute for bronto annotations
  include/bronto/bronto.hpp
Due: none

Add
  include/bronto/bronto.hpp
Due: none

Add bronto::rewrite_decl.
  include/bronto/bronto.hpp
Due: none

Add attributes for specifying how a rewritten declaration is being used.
  include/bronto/bronto.hpp
  tests/bronto/compilation.test.cpp
Due: none

Rename attributes to 'forbidden', 'required', and 'allowed', and add diagnostics as feasible.
  include/bronto/bronto.hpp
  tests/bronto/compilation.test.cpp
Due: none

Use well-known attribute in error-case.
  include/bronto/bronto.hpp
Due: none

Add `bronto::rewrite_param`.
  include/bronto/bronto.hpp
Due: none

condition the use of C++ features on support of those features
  include/bronto/bronto.hpp
  tests/bronto/BUILD.bazel
  tests/bronto/compilation.test.c
Due: buildifier

prefer _Pragma-based failure as it gives more succinct output
  include/bronto/bronto.hpp
Due: none

Allow configuration to be passed into BRONTO_BEFORE and BRONTO_AFTER.
  include/bronto/bronto.hpp
Due: none

Support 0 or more arguments to BRONTO_BEFORE/AFTER.
  include/bronto/bronto.hpp
  tests/bronto/compilation.test.cpp
Due: none

Ensure `config` returns a C++11-literal type.
  CMakeLists.txt
  include/bronto/bronto.hpp
Due: none

Bug fix: Pop warning state after we are done with it.
  include/bronto/bronto.hpp
Due: none

Bump bazel version to 8.4.2
  .bazelversion
Due: none

Add a `bronto::avoid_adl` tag directing `bronto-refactor` to qualify certain function calls found via ADL.
  include/bronto/bronto.hpp
Due: none

add BRONTO_INLINE_MACRO() macro for macro inlining rules
  include/bronto/bronto.hpp
Due: none

Add a `bronto::rewrite_type` tag directing `bronto-refactor` to replaces matches of a type with the corresponding replacement.
  include/bronto/bronto.hpp
  tests/bronto/compilation.test.cpp
Due: none

only use constexpr when supported
  MODULE.bazel
  include/bronto/bronto.hpp
Due: buildifier

add compilation test for c++98 mode
  include/bronto/bronto.hpp
  tests/bronto/CMakeLists.txt
Due: none

use rules_cc and add Bazel legacy test
  BUILD.bazel
  MODULE.bazel
  tests/bronto/BUILD.bazel
Due: buildifier

add rewrite_lambda_capture marker class
  include/bronto/bronto.hpp
Due: none

add BRONTO_EXTRACT macro as the inverse to BRONTO_INLINE
  include/bronto/bronto.hpp
Due: none

Add `eval` for performing constant evaluation and folding in replacements
  include/bronto/bronto.hpp
  tests/bronto/BUILD.bazel
Due: buildifier

Add 2-ary `eval` for emitting user-defined literals
  include/bronto/bronto.hpp
  tests/bronto/compilation.test.cpp
Due: none

Update documentation for new support
  include/bronto/bronto.hpp
Due: none

Add `BRONTO_BINDS` for filtering binding expressions to literals
  include/bronto/bronto.hpp
Due: none

Add `bronto::where` for filtering matches on a constant-evaluated predicate
  include/bronto/bronto.hpp
Due: none

Fix deprecation warning for ops with enumeration types
  include/bronto/bronto.hpp
  tests/bronto/BUILD.bazel
  tests/bronto/compilation.test.cpp
Due: buildifier

Ignore vim swap files.
  .gitignore
Due: none

Add `bronto::HeaderInclude` and `bronto::include` declarations
  include/bronto/bronto.hpp
  tests/bronto/compilation.test.cpp
Due: none

Path conditions:
  clang-format: any of: ^.*[.](h|cc)$
  mdformat: any of: ^.*[.]md$
  buildifier: any of: ^.*[.](bazel|bzl)$
